<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IronOcr.LicenseKey" value="IRONOCR.THANHPHATNGUYEN.24366-90AC2655A6-YVXQAXI5IOQQTS6I-AFRJJGKZOMB7-2IOYDMQRKLY6-GNCEGQSMGEAG-6LJILEDMNHIG-EA22ED-TFVE2NNQFGGCUA-DEPLOYMENT.TRIAL-3NFVMA.TRIAL.EXPIRES.09.NOV.2021"/>
  </appSettings>
</configuration>